* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;}

a {
    text-decoration: none;
}
a:hover {
    color: #4eb6ac;
    border: solid 2px red;
    border-radius: 50%;
    box-shadow: 10px 10px;
    padding: 10px;
    font-size: 25px;
    filter: invert(100%)
    
}
.main-page {
    background-color: #4eb6ac;
    color: #e5ffff;
    filter: grayscale(100%);
    filter: hue-rotate(180deg)
}
.navigation {
  display: grid;
  grid-template: 
        "logo about-me portfolio exp" 40px /
        4fr 1fr 1fr 1fr;
  padding: 10px
}
.about-me-nav,
.portfolio-nav,
.exp-nav {
    text-align: center;
    line-height: 40px;
    color:#4eb6ac;
    background-color: #e5ffff;
    border: 1px solid;
    
}
.about-me {
    border: 1px solid;

}
.site-title {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: 45px;
    margin-bottom: 20px
}
.experience {
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
    line-height: 1.5;
}
.about-me-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 30px;

}
.intro-title {
    display: flex;
    justify-content: center;
    line-height: 2;
    padding-right: 472px;
}
.about-me-text {
    display: flex;
    justify-content: center;
    line-height: 1.5;
    margin-bottom: 30px
}
.technical-skills {
    display: flex;
    justify-content: center;
    padding-right: 451px;

}

.tech1and2 {
    display: flex;
    justify-content: center;
    padding-right: 200px;

}

.tech1,
.tech2 {
    line-height: 1.5;
    display: inline-block;
}
.tech2 {
    padding-left: 130px
}
.tech1 {
    padding-left: 40px;
    margin-bottom: 60px
}
.portfolio-page {
    padding: 30px;
    background-color: #ffebee;
    height: 750px

}
.portfolio-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}
.port-container {
    display: grid;
    grid-template: 
          "portfolio-title portfolio-title portfolio-title" 1fr /
           1fr 1fr 1fr;
}
.portfolio-item {
    margin: 10px;
    border: solid 8px #f08892;
    background-color: white;
    border-radius: 6px;
    padding: 20px 60px;
    line-height: 1.5
}

.port-title {
    margin-bottom: 10px;
    font-size: 30px;
}
.port-para {
    margin-bottom: 40px
}
.read-more {
    background-color: #f08892;
    filter: grayscale(75%);
    color:#e5ffff;
    text-align: center;
    padding: 20px 1px;
    border: 1px;
    border-radius: 8px
}
.github {
    text-align: center;
    margin-bottom: 80px;
}
.github:hover {
    transform: scaleX(-1);
    transform: rotate(20deg);
    filter: invert(57%)
}
.exp-page {
    padding-top: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}
.exp-title {
    margin-bottom: 60px;
    text-align: center;
    font-size: 30px;
}
.job-title {
    display: flex;
    justify-content: center;
    padding-right: 500px;
    font-weight: bold;
}





